{% extends 'base.html' %}


{% block content %}


<div class='row'>
<div class='col-sm-4'>
{% for img in images %}

	{% if img.featured %}
	<div class='col-xs-12' >	
		<img class='img-responsive' src="/media/{{ img.image }}">
	</div>

	{% endif %}
	{% endfor %}

	{% for img in images  %}
	{% if not img.featured %}
	<div class='col-xs-6'>
	<a href="" class='thumbnail'>
		<img class='img-responsive' src="/media/{{ img.image }}">
	</a>
	</div>
	
	{% endif %}
    {% endfor %}
  </div>

  <div class='col-md-8'>
  	<h1>{{ product.title }}</h1>  <h2><a class='pull-right' href='{% url "add_to_cart" product.slug %}'>加入购物车</a></h2>
  	<br>
  	<p>价格: {{ product.price }}</p>
  	<br>
  	<br>
  	<p>{{ product.description|safe }}</p>

  </div>
 </div>
{% endblock %}